
<div class="container">
    <div class="register-div">
        <h4 class="maintitle">User Log IN</h4>
        <% flash.get('success').forEach(function (message) { %>
            <div style="color:rgb(255, 6, 6);text-align: center;">
              <%= message %>
            </div>
        <% }) %>
        <form action="" method="post" class="form-controll" onsubmit ="return verifyPassword()">
            <label for="email">Email</label><br>
            <input type="text" name="email"><br>
            <label for="password">password</label><br>
            <input type="password" name="password" id="pswd"><br>
            <small id="message">password must be 8 characters</small><br>
            <div class="row">
                <input type="submit" class="btn formbtn" value="submit">
            </div> 
        </form>
    </div>
    
</div>