
<div class="container">
    <div class="register-div">
        <h4 class="maintitle">New Register</h4>
        <form action="/signup" method="post" class="form-controll" onsubmit ="return verifyPassword()">
            <label for="name">Name</label><br>
            <input type="text" name="name"><br>
            <label for="email">Email</label><br>
            <input type="text" name="email"><br>
            <label for="password">password</label><br>
            <input type="password" name="password" id="pswd"><br>
            <small id="message">password must be 8 characters</small><br>
            <div class="row">
                <input type="submit" class="btn formbtn" value="submit">
            </div> 
        </form>
    </div>
    
</div>